{% extends 'layout.html' %}

{% block body %}
    <h1>Scout - Beta</h1>
    <small>Welcome {{session.username}}</small>
    <hr>
    <table class="table table-striped">
       <tr>
           <th>Ticker</th>
           <th>Date Added</th>
           <th>Initial/Live Price</th>
           <th>Percent Change</th>
           <th><!--for buttons--></th>
       </tr>
        {% for row in watchlist %}
            <tr>
                <td><a href="shares2/{{row.Ticker}}/default">{% filter upper %}{{row.Ticker}}{% endfilter %}</a></td>
                <td>{{row.Date}}</td>
                <td>{{row.Close}}/{{row.Live_Close}}</td>
                {% if row.Pct_Chg > 0 %}
                    <td><font face="verdana" color="green">{{row.Pct_Chg}}%</font></td>
                {% elif row.Pct_Chg < 0 %}
                    <td><font face="verdana" color="red">{{row.Pct_Chg}}%</font></td>
                {% else %}
                    <td><font face="verdana">{{row.Pct_Chg}}%</font></td>
                {% endif %}
                <td><form action="{{url_for('delete_row', id=row.id)}}" method="post">
                    <input type="hidden" name="_method" value="Delete">
                    <input type="submit" value="DELETE" class="btn btn-danger">
                </form> </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}